body {
    font-family: sans-serif;
}

button {
    background-color: #3882f6;
    color: white;
}

li {
    list-style-type: none;
}

.header-one,
.header-two {
    display: flex;
    background-color: #1f2937;
    align-items: center;
}

.header-one {
    gap: 330px;
    justify-content: space-between;
}

.header-two {
    justify-content: space-evenly;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    padding-left: 375px;

}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    padding-right: 350px;
}

.link-one {
    padding: 10px;
}

.link-two {
    padding: 10px;
}

.link-three {
    padding: 10px;
}

.header-left {
    width: 400px;
    padding: 20px;
    flex-wrap: wrap;
}
.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin: 10px;;
}

.header-content {
    font-size: 18px;
    color: #f9faf8;
    margin: 10px;;
}

.sign-up {
    margin: 10px;
}

.top-middle {
    display: flex;
    background-color: white;
}

.mid-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: extra-bold;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card-box {
    display: flex;
    border-radius: 15px;
    border: 5px solid #3882f6;
    min-height: 100px;
    min-width: 100px;
}